cat > .gitignore << 'EOF'
# Python
__pycache__/
*.pyc
.venv/
venv
test.py
download_images.py

# Lock File 
*.lock 

# some txt file 
lol.txt

# Data file 
data/

# Browse cache
downloaded_files/
src/downloaded_files/
EOF